<h1>Formulario</h1>
<p>Este es la tarea que nos pidio que consiste en crear un formulario en Boostrap</p>
<form class="needs-validation" novalidate>
    <div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Nombre" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Apellidos</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Usuario</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Ave. 18, Calle 18">
        </div>
        <div class="col-md-4 mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Correo Electronico</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Guardar Datos</button>
            </div>
        </div>
    </div>
</form>